/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        enter {
            bindings = <&kp ENTER>;
            key-positions = <36 38>;
        };

        gaming_mode {
            bindings = <&tog 4>;
            key-positions = <24 13 2 15 37>;
        };
    };

    macros {
        pwd: pwd {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(G) &kp E &kp R &kp N4 &kp L &kp T &kp N0 &kp F &kp LS(R) &kp N1 &kp V &kp N1 &kp N4>;
            label = "PWD";
        };

        zepp: zepp {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(W) &kp N3 &kp LS(G) &kp N0 &kp N1 &kp N &kp G &kp LS(D) &kp N0 &kp W &kp N &kp LS(N) &kp N0 &kp W &kp EXCL>;
            label = "ZEPP";
        };
    };

    behaviors {
        ht: ht {
            compatible = "zmk,behavior-hold-tap";
            label = "Hold/tap";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
            quick-tap-ms = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB           &kp Q           &kp W           &kp E             &kp R               &kp T        &kp Y    &kp U                &kp I              &kp O            &kp P               &kp LEFT_BRACKET
&kp LEFT_SHIFT    &ht LEFT_GUI A  &ht LEFT_ALT S  &ht LEFT_SHIFT D  &ht LEFT_CONTROL F  &kp G        &kp H    &ht RIGHT_CONTROL J  &ht RIGHT_SHIFT K  &ht RIGHT_ALT L  &ht RIGHT_GUI SEMI  &kp SINGLE_QUOTE
&kp LEFT_CONTROL  &kp Z           &kp X           &kp C             &kp V               &kp B        &kp N    &kp M                &kp COMMA          &kp DOT          &kp FSLH            &kp RIGHT_BRACKET
                                                  &kp LEFT_ALT      &lt 1 BACKSPACE     &kp SPACE    &kp RET  &lt 2 DELETE         &kp RIGHT_GUI
            >;

            label = "HOME 🏠︎";
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp ESC  &kp N1                   &kp N2                 &kp N3                     &kp N4                        &kp N5    &kp N6  &kp N7                 &kp N8                     &kp N9                 &kp N0             &kp TILDE
&trans   &ht LEFT_GUI LEFT_ARROW  &ht LEFT_ALT UP_ARROW  &ht LEFT_SHIFT DOWN_ARROW  &ht LEFT_CONTROL RIGHT_ARROW  &trans    &trans  &ht RCTRL HOME         &ht RIGHT_SHIFT PAGE_DOWN  &ht RIGHT_ALT PAGE_UP  &ht RIGHT_GUI END  &trans
&trans   &kp LESS_THAN            &kp LEFT_BRACKET       &kp LEFT_BRACE             &kp LEFT_PARENTHESIS          &trans    &trans  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACE            &kp RIGHT_BRACKET      &kp GREATER_THAN   &trans
                                                         &trans                     &trans                        &trans    &trans  &lt 3 DELETE           &trans
            >;

            label = "DOWN ↓";
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp ESC  &kp N1             &kp N2              &kp N3                     &kp N4                  &kp N5    &kp N6  &kp N7                      &kp N8                 &kp N9                   &kp N0              &kp GRAVE
&trans   &ht LEFT_GUI PLUS  &ht LEFT_ALT EQUAL  &ht LEFT_SHIFT UNDERSCORE  &ht LEFT_CONTROL MINUS  &trans    &trans  &ht RIGHT_CONTROL QUESTION  &ht RIGHT_SHIFT COLON  &ht RIGHT_ALT AMPERSAND  &ht RIGHT_GUI PIPE  &trans
&trans   &kp LESS_THAN      &kp LBKT            &kp LEFT_BRACE             &kp LEFT_PARENTHESIS    &trans    &trans  &kp RIGHT_PARENTHESIS       &kp RIGHT_BRACE        &kp RBKT                 &kp GREATER_THAN    &trans
                                                &trans                     &lt 3 BACKSPACE         &trans    &trans  &trans                      &trans
            >;

            label = "UP ↑";
        };

        functional {
            bindings = <
&kp F1  &kp F2  &kp F3      &kp F4             &kp F5           &kp F6    &kp F7  &kp F8      &kp F9      &kp F10     &kp F11         &kp F12
&trans  &trans  &kp K_MUTE  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &pwd      &zepp   &trans      &trans      &trans      &trans          &trans
&trans  &trans  &trans      &trans             &trans           &trans    &trans  &bt BT_NXT  &bt BT_PRV  &bt BT_CLR  &bt BT_CLR_ALL  &trans
                            &trans             &trans           &trans    &trans  &trans      &trans
            >;

            label = "FN";
        };

        gaming {
            bindings = <
&kp TAB           &kp Q  &kp W  &kp E         &kp R            &kp T        &kp Y    &kp U         &kp I          &kp O    &kp P     &kp LEFT_BRACKET
&kp LEFT_SHIFT    &kp A  &kp S  &kp D         &kp F            &kp G        &kp H    &kp J         &kp K          &kp L    &kp SEMI  &kp SINGLE_QUOTE
&kp LEFT_CONTROL  &kp Z  &kp X  &kp C         &kp V            &kp B        &kp N    &kp M         &kp COMMA      &kp DOT  &kp FSLH  &kp RIGHT_BRACKET
                                &kp LEFT_ALT  &lt 5 BACKSPACE  &kp SPACE    &kp RET  &lt 5 DELETE  &kp RIGHT_GUI
            >;

            label = "GAME";
        };

        raise_gaming {
            bindings = <
&kp GRAVE  &kp N1  &trans  &kp N2  &kp N3  &kp N4        &kp N6  &kp N7  &kp N8  &kp N9  &kp N0  &kp GRAVE
&trans     &trans  &trans  &trans  &kp N5  &kp N6        &trans  &trans  &trans  &trans  &trans  &trans
&trans     &kp Y   &kp H   &kp N   &kp I   &kp M         &trans  &trans  &trans  &trans  &trans  &trans
                           &trans  &trans  &kp ESCAPE    &trans  &trans  &trans
            >;

            label = "GAME 🏠︎";
        };
    };
};
